@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	list-style: none;
	font-family: 'DM Sans', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}
body{
	background-color: #0C0C0C;
	margin: 0 10vw 0 10vw;
}
header{
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header p{
	font-size: 3vh;
	font-weight: 700;
	color: #F9F9F9;
}
ul{
	display: flex;
}
ul li{
	margin-left: 70px;
	font-size: 2vh;
	font-weight: 400;
	color: #F9F9F9;
}
.presentation{
	position: relative;
	margin-top: 7vh;
	width: 100%;
}
.presentation h1{
	font-size: 4vh;
	font-weight: 700;
	color: #F9F9F9;
}
.presentation p{
	margin-top: 20px;
	font-size: 2vh;
	font-weight: 500;
	color: #828282;
}
.download{
	margin-top: 30px;
	background-color: #00DF5E;
	width: 150px;
	height: 42px;
	border-style: none;
	color: #171717;
	font-weight: 700;
	font-size: 1rem;
}
.contact{
	margin-top: 30px;
	margin-left: 10px;
	background-color: #171717;
	width: 100px;
	height: 42px;
	border-style: none;
	border: 1px solid #333333;
	color: #F9F9F9;
	font-weight: 500;
	font-size: 1rem;
}
.presentation img{
	position: absolute;
	right: 0;
	top: 0;
}
.aboutme{
	margin-top: 200px;
	width: 100%;
}
.aboutme h2{
	text-align: center;
	font-size: 3.7vh;
	font-weight: 700;
	color: #F9F9F9;
}
.aboutme-text{
	margin-left: 10vw;
	text-align: center;
	width: 60vw;
	font-size: 2vh;
	font-weight: 400;
	color: #828282;
}
.networks{
	margin-top: 30px;
	width: 60vw;
	margin-left: 10vw;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.items{
	margin-top: 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 280px;
}
.items img{
	width: 62px;
	height: 62px;
}
.items h3{
	margin-top: 20px;
	font-size: 2vh;
	color: #F9F9F9;
	font-weight: 700;
}
.items p{
	margin-top: 5px;
	font-size: 1.6vh;
	font-weight: 400;
	color: #828282;
}
.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project-text{
	margin-top: 150px;
	text-align: center;
	font-size: 3.7vh;
	font-weight: 700;
	color: #F9F9F9;
}
.project{
	margin-top: 40px;
	width: 450px;
	height: 265px;
	background-color: #212121;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.project img{
	width: 400px;
	transition: 0.8s;
}
.project img:hover{
	width: 450px;
}
.project h4{
	font-size: 2vh;
	color: #FFFFFF;
	font-weight: 500;
}
.project p{
	font-size: 1.5vh;
	font-weight: 400;
	color: #828282;
}
.skills-text{
	margin-top: 130px;
	text-align: center;
}
.skills{
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.skills div{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	width: 120px;
	height: 120px;
}
footer{
	margin-top: 200px;
	position: absolute;
	left: 0;
	background-color: #212121;
	height: 50px;
	width: 100%;
}
footer h3{
	font-size: 1.7vh;
	font-weight: 700;
	text-align: center;
	padding-top: 13px;
}
footer h3 span{
	color: #00DF5E;
}

@media(max-width: 768px){
	header{
		justify-content: center;
	}
	header p{
		font-size: 5vh;
	}
	.nav-pc{
		display: none;
	}
	.presentation img{
		display: none;
	}
	.skills div{
		width: 150px;
		height: 150px;
	}
}
/*git remote add origin https://github.com/NormaN5001/Portfolio.git*/